Screen {
    background: $surface;
}

DirectoryTable {
    border: round #666;
    margin: 0;
    padding: 0;
    height: 80%;
}

AddressLine {
    margin: 1 1 0 1;
    padding: 0;
    height: auto;
}

DirectoryTable > .datatable--cursor-line {
    background: $panel;
    color: $text;
}

DirectoryTable > .datatable--cursor-line:focus-within {
    border: wide $accent;
}

.datatable--header-column {
    text-style: bold;
}